.detail-about-us-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  width: 100%;

}
.coursel-container{
    margin-top: 50px;
    align-content: center;
}
.coursel-container .row{
  margin-left: 0!important;
}
.detail-about-us-section .about-card {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 20px;
}

.detail-about-us-section .about-card .icon {
  color: #4CAF50;
  margin-right: 10px;
}

.detail-about-us-section .service-card {
  border: none;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.detail-about-us-section .service-card .service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.detail-about-us-section .contact-info p {
  color: #555;
}

.detail-about-us-section .why-choose-us h2 {
  color: #4CAF50;
  margin-bottom: 30px;
}
