
.contact-section {
  background-color: #f9f9f9;
  padding: 60px 0;
  color: #333;
  width: 100%;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle {
  text-align: center;
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 40px;
}

.form-input {
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  transition: all 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #FFD700;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.submit-button {
  background-color: #FFD700;
  color: #333;
  font-size: 1.1rem;
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #FFC107;
}
.contact-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info-item:last-child {
  margin-bottom: 0;
}

.contact-icon {
  color: #FFD700;
  margin-right: 15px;
}

.contact-info-item p {
  font-size: 1.1rem;
  color: #333;
}

.contact-info-item a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
}

.contact-info-item a:hover {
  color: #FFC107;
}