 .services-section {
    padding: 60px 0;
    text-align: center;
    width: 100%;
  }
    .services-section .links{
        text-decoration: none;
    }
  .service-card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .service-card img {
    height: 200px;
    object-fit: cover;
  }
  /* styles.css or add directly to your existing CSS */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
