.top-bar {
  background-color: rgba(3, 13, 68, 0.95);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.top-bar .contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.top-bar  .contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
   color: #0e0e0e;
}
.top-bar  .contact-item i {
  color: #05a40b;
  font-size: 16px;
}
.top-bar .contact-item a {
  color: #0e0e0e;
  text-decoration: none;
}

.top-bar .contact-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .top-bar {
    padding: 8px 15px;
    font-size: 12px;
  }

  .top-bar .contact-info {
    flex-direction: column;
    gap: 8px; /* Adds spacing between items on small screens */
  }
}
