body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .row{
    margin-right: 0!important;
    margin-left: 0!important;
}

@media (max-width: 768px) {
   .row{
    margin-right: 0!important;
    margin-left: 0!important;
}
}